
.top

  = render "shared/side_bar_top"
          
  .top__head--right
    .top__head--right-group
      %h7.top__head--right-group-name 
        =@group.name
        .member
          %p.top__head--right-group-member 
            Menber :
          - @group.users.each do |user|
            %p.top__head--right-group-member-name
              = user.name

      = link_to edit_group_path(current_user), class: "top__head--right-group-edit" do 
        .top__head--right-group-edit-btn Edit

.feature

  = render "shared/side_bar_bottom"

  .feature__body--right

    .feature__body--right-center
      = render @messages

    .feature__body--right-bottom
      .feature__body--right-bottom-box
        .feature__body--right-bottom-box-text
          = form_for [@group, @message] do |f|
            .form__mask
              = f.text_field :content, class: 'feature__body--right-bottom-box-text-detail', placeholder: 'type a message'
              = f.label :image, class: 'feature__body--right-bottom-box-text-btn' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'feature__body--right-bottom-box-text-btn-none'
            = f.submit 'Send', class: 'feature__body--right-bottom-box-text-send'
